
<!DOCTYPE html>
<HTML>
    <head>
        <meta charset="UTF-8">
        {% comment %} <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> {% endcomment %}
        {% comment %} <a href="https://im.ge/i/1KOwDF"><img src="https://i.im.ge/2022/10/03/1KOwDF.logofeathonly.md.png" alt="logofeathonly" border="0"></a> {% endcomment %}
        
        <link rel='icon' href="https://i.im.ge/2022/10/03/1KOwDF.logofeathonly.md.png"  width= "50px"
        height= "20px" type ="image/x-icon"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Ainaa</title>
        {%load static%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        
        
        {% comment %} for canvas js {% endcomment %}
        <script type="module" src="canvasjs.min.js"></script>
            {% comment %} was text/javascript {% endcomment %}
        

    </head>
    <body>
        <div id="main">
          <div id="app"></div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</HTML>
 